.rating {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.low {
  color: #D03348;
}

.mid {
  color: #F2CC4C;
}

.high {
  color: #BAD053;
}