.review-panel {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
}

.headerItem {
  display: flex;
}

.headerTitle {
  font-weight: bold;
}

.headerValue {
  padding-left: 10px;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.bodyTitle {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.bodyText {
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}
