.item {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.item:hover {
  background-color: #eee;
}

.active {
  background-color: #EBF4FE;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
}

.author {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.dateWrapper {
  display: flex;
  align-items: flex-end;
  flex: 1;
}

.date {
  font-size: 12px;
  padding-left: 1px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
