html, body {
  height: 100%;
}

:global(#root) {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.appHeader {
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  padding: 20px;
  background-color: #ccc;
}

.appTitle {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-style: italic;
  font-size: 32px;
  color: white;
  font-family: initial;
}

.appBody {
  height: 100%;
  display: flex;
}

.listWrapper {
  height: 100%;
  width: 300px;
}

.search {
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.sort {
  display: flex;
  padding-left: 5px;
  align-items: center;
}

.button {
  cursor: pointer;
  outline: none;
  margin: 2px;
  background-color: #FFF;
  border: 1px solid #ccc;
}

.activeButton {
  background-color: #ccc;
}

.input {
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 25px;
  width: 100%;
  padding-left: 5px;
  outline: none;
}

.list {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-right: 1px solid #CCC;
}

.listItem {
  height: 100px;
  border-bottom: 1px solid #CCC;
}

.panel {
  padding: 25px 50px;
  flex: 1;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}